# Life expectancy by local authority and sex (CSV)

The life expectancy by local authority and sex dataset. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus id risus ut eros fringilla semper. Vivamus tristique sem odio, eu mollis dolor congue sit amet. Morbi et justo nec mauris ultricies sagittis. Vivamus vel tempus massa, eget dictum turpis. Maecenas cursus porttitor mollis. Duis mattis lectus eget felis pulvinar dictum. Aenean libero odio, porttitor sit amet eros eu, bibendum auctor nunc. Aliquam nec dolor eget quam ultricies mollis sed ac orci. In a gravida eros, vitae posuere elit. Phasellus nec posuere ligula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;

Licensed under the [Open Government Licence v2](https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/)

In [1]:
data_file_url = 'https://raw.githubusercontent.com/gjhltn/PlatformDemoBinder/main/life-expectancy.csv'

In [2]:
import pandas as pd
df = pd.read_csv(data_file_url)

In [3]:
df.head()

        area                   period     sex  life_expectancy
0  W06000022  2004-01-01T00:00:00/P3Y    Male             76.7
1  W06000022  2004-01-01T00:00:00/P3Y  Female             80.7
2  W06000022  2005-01-01T00:00:00/P3Y    Male             77.1
3  W06000022  2005-01-01T00:00:00/P3Y  Female             80.9
4  W06000022  2006-01-01T00:00:00/P3Y    Male             77.0